{{> message }}
<div class="container text-center mx-auto mt-3">
  <div class="raw">
    <div class="col">
        <form action="/records" id="categoryF orm">
      <select onchange="submitForm()" class="form-select"  name="categoryId"  aria-label="Default select example">
        {{#if category }} 
        <option selected value={{category.id}} >{{category.name}}</option> 
        {{else}}
        <option selected disabled>類別</option>
        {{/if}}
        {{#each categories}}
          <option value={{this.id}}>{{this.name}}</option>
        {{/each}}
      </select>

        </form>
     
    </div>
    <div class="col">
      <p>總金額 <strong>{{#totalAmount records}}{{/totalAmount}}</strong> </p>

    </div>
  </div>


  <div class="raw">
    <ul class="list-group">
      {{#each records}}
        <li class="list-group-item">
          <div class="row my-auto text-center">
            <div class="col-1">{{#setIcon ../categoryIconList this.categoryId}}{{/setIcon}}</div>
            <div class="col-4 me-auto">
              <div class="fw-bold">{{this.name}}</div>
              {{#dateformate this.date}}{{/dateformate}}
            </div>
            <div class="col-2">{{this.amount}}</div>
            <div class="col-auto">
              <a
                class="btn btn-success"
                href="/records/{{this._id}}/edit"
              >edit</a>
              <form
                action="/records/{{this._id}}?_method=DELETE"
                method="POST"
                style="display: inline;"
              >
                <button class="btn btn-danger" type="submit">delete</button>
              </form>
            </div>

          </div>

        </li>
      {{/each}}
    </ul>

    <a class="btn btn-primary" href="/records/new">新增支出</a>
  </div>
</div>

<script>
function submitForm(){
const category = document.getElementById("categoryForm");
category.submit();
}
</script>